{% extends "isitup/base.html" %}

{% block title %}{% if object %}Update {{object}}{% else %}Add a service{% endif %}{% endblock %}

{% block content %}

{% if object %}
<h2>Update {{object}}</h2>
{% else %}
<h2>Add a new service</h2>
{% endif %}

<div class="row">
  <div class="span11 offset1">
    <form method=POST>
    {{form}}
    <input type="submit" value="Save" />
    </form>
  </div>
</div>

{% endblock %}
